.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	margin: auto;
	display: flex;
	width: fit-content;
	align-items: center;
	border-radius: 20px;
	padding: 5vh 20vw;
	margin: 20px;
	flex-direction: column;
	border: dashed 2px #f0f8ff;
}

.gif {
	margin-inline-start: -70px;
	margin-block-end: 20px;
}

.title {
	margin: 3rem;
}

.buttons {
	width: 100%;
	margin: 20px;
	display: flex;
	justify-content: space-around;
}

.button {
	background-color: #00192e;

	transition: all 0.3s ease-in-out;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 25px;
	border: 2px solid #f0f8ff;
}

.yes:hover {
	color: #000;
	background-color: #035e03;
}

.no:hover {
	background-color: #4e0000;
}

.answerBox {
	margin-block-start: 20px;
}
.answer {
}

/* responsive design */
@media (max-width: 1000px) {
	.container {
		border: 3px dashed #f0f8ff;
		padding: 5vh 15vw;
	}

	.title {
		margin: auto;
		width: 100%;
		font-weight: bolder;
		font-size: 0.9rem;
	}
}
